<div class="admin-container">
    <div class="col-md-7">
        <div class="button-container">
            <button class="mat-raised-button add-btn"
                    (click)="onNewGoods()"
                    mat-button>Add goods
            </button>
            <button class="mat-raised-button btn-color button-container"
                    [routerLink]="['/admin']"
                    mat-button>To order list
            </button>
        </div>
        <div>
            <app-admin-goods-list></app-admin-goods-list>
        </div>
    </div>
    <div class="col-md-5">
        <router-outlet></router-outlet>
    </div>
</div>
