.admin-container {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
}

.button-container {
  margin: 0 25px;
}

.btn-color {
  background-color: rgba(255, 175, 30, 0.9);
  color: white;
}

.add-btn {
  background-color: rgba(118, 33, 113, 0.9);
  color: white;
}