
.product-box{
  max-width: 240px;
}

.product-title{
  margin-top: 10px;
}

.add-button {
  margin: 10px 55px;
}

.discription-product{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px;
}

.text{
  width: 100%;
  text-align: center;
}
