.inlain{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 70%;
  margin-bottom: 10px;
}

.delete{
  width: 70px;
  height: 40px;
  text-align: center;
}

.product-block{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user_contact{
  padding-left: 50px;
}

.goods-name{
  width: 300px;
}

a{
  cursor: pointer;
  display: flex;
  align-items: center;
}

.title{
  display: flex;
  justify-content: flex-start;
  border-bottom: 2px solid grey;
}

.client-inf{
  margin-left: 10px;
}

.name-title{
  width: 300px;
  margin-left: 35px;
}

.price-title{
  width: 150px;
  margin-left: 370px;
}