<div class="row">
    <div class="col-xs-12">
        <h1>The notebook "{{ product?.name }}"</h1>
    </div>
</div>

<div class="block">
    <div class="row">
        <div class="col-xs-12">
            <img src="{{ product?.imagePath }}" alt="{{ product?.name }}" class="img-responsive"
                 style="max-height: 250px">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-12">Description: {{ product?.description }}</div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-12">Price: {{ product?.price }} $</div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-12">Number of page: {{ product?.pages }}</div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-12">Cover material: {{ product?.coverMaterial }}</div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-xs-12 button-box">
        <div class="btn-group edit-btn-box">
            <button type="button"
                    mat-raised-button
                    class=" edit-btn"
                    routerLink="edit">Edit Goods
            </button>
        </div>
        <div class="btn-group">
            <button type="button"
                    mat-raised-button
                    color="warn"
                    (click)="onDeleteGoods()">Delete Goods
            </button>
        </div>
    </div>
</div>
