<div class="detail-container">
    <div class="row">
        <div class="btn-group to-goodslist">
            <button type="button"
                    color="warn"
                    mat-raised-button
                    routerLink="../">To Products list
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            <img src="{{ product?.imagePath }}" alt="{{ product?.name }}" class="img-responsive"
                 style="max-height: 350px">

        </div>
        <div class="col-md-7">
            <h1>The notebook "{{ product?.name }}"</h1>
            <h4 class="col-xs-12">Description: {{ product?.description }}</h4>
            <h4 class="col-xs-12">Price: {{ product?.price }} $</h4>
            <h4 class="col-xs-12">Number of page: {{ product?.pages }}</h4>
            <h4 class="col-xs-12">Cover material: {{ product?.coverMaterial }}</h4>

            <div class="col-xs-12">
                <div class="btn-group">
                    <button type="button"
                            class="btn-add"
                            mat-raised-button
                            mat-primary
                            (click)="onAddToCart()">Add to cart
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


