.btn-success, .btn-danger {
  width: 100px;
  margin: 0 10px;
}

.btn-box {
  text-align: center;
  margin-bottom: 15px;
}

mat-form-field {
  width: 100%;
}

textarea {
  resize: none;
}

.mat-primary {
  margin-right: 20px;
}

.save-btn {
  background-color: rgba(118, 33, 113, 0.9);
}