<div class="header-container">

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a routerLink="/" class="navbar-brand logo color">Blocking</a>
      </div>

      <div class="collapse navbar-collapse">
        <app-nav-menu></app-nav-menu>

        <ul class="nav navbar-nav navbar-right">
          <ng-template [ngIf]="!user">
            <li><a (click)="openForm('signup')">Register</a></li>
            <li><a (click)="openForm('signin')">Login</a></li>
          </ng-template>
          <li class="admin">
            <span *ngIf="user?.isAdmin">Admin</span>
          </li>
          <li class="admin">
            <span>{{ user?.email }}</span>
          </li>
          <li *ngIf="user">
            <a (click)="onLogout()">Logout</a>
          </li>
          <li>
            <a routerLink="cart"><i class="fas fa-cart-arrow-down color"></i></a>
          </li>
          <li *ngIf="user?.isAdmin">
            <a routerLink="admin">Admin Panel</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

</div>
