.product-box {
  max-width: 240px;
  margin: 0px 15px;
}

.product-title {
  margin-top: 10px;
}

.add-button {
  margin: 10px 55px;
  background-color: rgba(255, 175, 30, 0.9);;
}

.description-product {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px;
}

.text {
  width: 100%;
  text-align: center;
}

.product-title[_ngcontent-c7] {
  margin-top: 3px;
}

.list-group-item:first-child {
  border-radius: 4px;
}

.list-group-item {
  padding: 10px 15px 0 15px;
}
