<br>
<a class="list-group-item clearfix"
   [routerLink]="[goods.id]"
   routerLinkActive="active">
  <div class="pull-left">
    <h4 class="list-group-item-heading">{{ goods.name }}</h4>
    <p class="list-group-item-text">{{ goods.description | shorten: 30 }}</p>
    <p class="list-group-item-text">Price: {{ goods.price }} $</p>
    <p class="list-group-item-text">Pages: {{ goods.pages }}</p>
    <p class="list-group-item-text">Material: {{ goods.coverMaterial }}</p>
  </div>
  <span class="pull-right">
        <img [src]="goods.imagePath"
             alt="{{ goods.name}}"
             class="img-responsive"
             style="max-height: 90px;">
  </span>
</a>

